<p id="notice"><%= notice %></p>

<p>
  <b>Firstname:</b>
  <%= @owner.firstname %>
</p>

<p>
  <b>Lastname:</b>
  <%= @owner.lastname %>
</p>

<p>
  <b>Contact number:</b>
  <%= @owner.contact_number %>
</p>

<p>
  <b>Email:</b>
  <%= @owner.email %>
</p>




<%= link_to 'Edit', edit_owner_path(@owner) %> |
<%= link_to 'Back', owners_path %>
