<%= form_for(@owner_session) do |f| %>
  <% if @owner_session.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@owner_session.errors.count, "error") %> prohibited this owner_session from being saved:</h2>

      <ul>
      <% @owner_session.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.text_field :password %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
