<h1>Listing owner_sessions</h1>

<table>
  <tr>
    <th>Username</th>
    <th>Password</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @owner_sessions.each do |owner_session| %>
  <tr>
    <td><%= owner_session.username %></td>
    <td><%= owner_session.password %></td>
    <td><%= link_to 'Show', owner_session %></td>
    <td><%= link_to 'Edit', edit_owner_session_path(owner_session) %></td>
    <td><%= link_to 'Destroy', owner_session, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Owner session', new_owner_session_path %>
